@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Orbitron&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Orbitron", sans-serif;
}
#game-board {
  width: 1000px;
  height: 600px;
  position: relative;
  display: none;
}
h2 {
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(221, 126, 17);
}
h3 {
  margin-top: 50px;
}
p {
  margin-top: 20px;
  margin-bottom: 30px;
}
#start-game {
  width: 1000px;
  height: 600px;
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  background-color: rgb(31, 28, 34);
  border-radius: 10%;
}

#start-game a {
  position: relative;
  font-size: 1em;
  text-decoration: none;
  color: bisque;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid;
  border-radius: 50%;
  top: 30px;
}
#end-game a {
  position: relative;
  margin-left: 150px;
}
a:hover {
  background-color: aquamarine;
}
#end-game {
  width: 1000px;
  height: 600px;
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  background-color: rgb(31, 28, 34);
  border-radius: 10%;
}
#end-game a {
  font-size: 2em;
  text-decoration: none;
  color: bisque;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 50px;
}
#player {
  height: 100px;
  width: 60px;
  background-image: url(../images/player.png);
  position: absolute;
  left: 10px;
  top: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.object {
  width: 50px;
  height: 50px;
  background-image: url(../images/asteroid.png);
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#live-score {
  position: relative;
  color: white;
  display: none;
  position: absolute;
  top: 50px;
  margin-right: 300px;
}
#life1 {
  width: 40px;
  position: absolute;
  display: none;
  top: 50px;
  margin-left: 100px;
}
#life2 {
  width: 40px;
  position: absolute;
  display: none;
  top: 50px;
  margin-left: 150px;
}
#life3 {
  width: 40px;
  position: absolute;
  display: none;
  margin-left: 50px;
  top: 50px;
}
#audio {
  position: absolute;
  bottom: 20px;
  width: 150px;
  height: 20px;
  left: 425px;
}
#earth {
  width: 150px;
  position: relative;
  top: 200px;
  right: 400px;
}
