* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/uwp1037723.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#game-board {
  width: 1000px;
  height: 600px;
  position: relative;
  display: none;
  
}
#game-over {
  height: 100%;
  width: 10px;

  position: absolute;
  left: 0;
}
#player {
  height: 100px;
  width: 30px;
  background-color: red;
  position: absolute;
  left: 10px;
  top: 250px;
}
.object {
  width: 30px;
  height: 30px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
}
